<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row ">
        <div class="col-md-3">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p>We provied electronics appliances & Shoes with Free shipping & COD.</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Mumbai</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+1800183256025</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i> ElectroCart@gmail.com</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a routerLink="/contact">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->
</footer>
<!-- /FOOTER -->
